@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.detailsCard {
    text-align: center;
    width: 40%;
    cursor: default;
}

.input {
    margin-top: 6%;
}

.actionButton {
    margin-top: 6%;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}