.mainCard {
    width: 35%;
}

.cardHeader {
    margin: 0px 24px !important;
}

.postImageDiv {
    margin: 5% 0;
    max-height: 300px;
    height: auto;
    overflow: auto;
}

.postImage {
    width: 100%;
    float: right;
    height: auto;
}

.cardActionsDiv {
    margin: 0px 24px;
}